{
	"mask": 
	{
		"info":
		{
			"version": "1.0.0",
			"template": "MaskScript",
			"description": "Masking using single wavelength band"
		},
		"options":
		{
		    "sections":
			[
				{
				   "displayName": "Mask",
				   "name": "mask",
				   "settings": 
				   [
					    {
							"displayName": "Wavelength",
							"name": "wavelength",
							"hint": "Select wavelength",
							"type": "wavelength",
							"value": "0"
   					    },
						{
							"displayName": "Threshold",
							"name": "wl_thresh",
							"hint": "Cutoff threshold for binary image",
							"type": "slider",
							"value": "0.5",
							"minimum": "0",
							"maximum": "1",
							"steps": 250
						},
						{
							"displayName": "Fill Speckles",
							"name": "fill_size",
							"hint": "Size of Speckles to be filled (in pixel)",
							"type": "slider",
							"value": "100",
							"minimum": "0",
							"maximum": "300",
							"steps": 300
						},
						{
							"displayName": "Dilate Pixel",
							"name": "dilate_pixel",
							"hint": "Dilate Pixel of mask",
							"type": "checkBox",
							"value": "true"
						},
						{
							"displayName": "Invert Mask",
							"name": "invert_mask",
							"hint": "Inverts the mask",
							"type": "checkBox",
							"value": "false"
						},
					   	{
							"displayName": "Show Image Overlay",
							"name": "overlay_mask",
							"hint": "Lay mask over RGB image",
							"type": "checkBox",
							"value": "false"
						}
					]
				}
			]
		}
	},
    "script":
	{
		"info":
		{
			"version": "1.0.0",
			"template": "BasicScript",
			"description": "Simple analysis script to analyze single plants"
		},
		"options":
		{
		    "sections":
			[
				{
				   "displayName": "Script",
				   "name": "script",
				   "presets": ["script_preset.json"]
				},
				{
				   "displayName": "Shape",
				   "name": "shape",
				   "settings":
					[
						{
							"displayName": "Area",
							"name": "area",
							"hint": "",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "plot"
						},
						{
							"displayName": "Convex Hull Area",
							"name": "hull_area",
							"hint": "",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "plot"
						},
						{
							"displayName": "Perimeter",
							"name": "perimeter",
							"hint": "",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "plot"
						},
						{
							"displayName": "Height",
							"name": "height",
							"hint": "",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "plot"
						},
						{
							"displayName": "Width",
							"name": "width",
							"hint": "",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "plot"
						},
						{
							"displayName": "Longest Path",
							"name": "longest_path",
							"hint": "",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "plot"
						}
					]
				},
				{
				   "displayName": "Index",
				   "name": "index", 
				   "settings":
					[
						{
							"displayName": "Mean Index",
							"name": "mean_index",
							"hint": "",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "plot"
						},
						{
							"displayName": "False Color Image",
							"name": "false_color_image",
							"hint": "",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "image"
						},
						{
							"displayName": "RGB image as background",
							"name": "image_background",
							"hint": "Uses the Pseudo RGB image as a background for the False Color Image",
							"type": "checkBox",
							"value": "false"
						},
						{
							"displayName": "Index Histogram",
							"name": "index_histogram",
							"hint": "",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "image"
						},
						{
							"type": "newColumn"
						},
						{
							"displayName": "Auto Min/Max",
							"name": "auto_index_limits",
							"hint": "Automatic min/max adjustment",
							"type": "checkBox",
							"value": "false"
						},
						{
							"displayName": "Min Percentile",
							"name": "min_percentile",
							"hint": "Set min percentile used to auto-calculate min",
							"type": "spinBox",
							"value": "20",
							"minimum": "0",
							"maximum": "50"
						},
						{
							"displayName": "Max Percentile",
							"name": "max_percentile",
							"hint": "Set max percentile used to auto-calculate max",
							"type": "spinBox",
							"value": "80",
							"minimum": "50",
							"maximum": "100"
						}
					]
				},
				{
				   "displayName": "Reflectance",
				   "name": "reflectance",
				   "settings":
					[
						{
							"displayName": "Spectral Histogram",
							"name": "spectral_histogram",
							"hint": "",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "image"
						}
					]
				}
			]
		}
	}
}
