{
	"mask": 
	{
		"info":
		{
			"version": "1.0.0",
			"template": "MaskScript",
			"description": "Masking using single wavelength band"
		},
		"options":
		[
			{
				"displayName": "Wavelength",
				"name": "wavelength",
				"hint": "Select wavelength",
				"type": "wavelength",
				"value": "0"
			},
			{
				"displayName": "Threshold",
				"name": "wl_thresh",
				"hint": "Cutoff threshold for binary image",
				"type": "slider",
				"value": "0.5",
				"minimum": "0",
				"maximum": "1",
				"steps": 250
			},
			{
				"displayName": "Fill Speckles",
				"name": "fill_size",
				"hint": "Size of Speckles to be filled (in pixel)",
				"type": "slider",
				"value": "100",
				"minimum": "0",
				"maximum": "300",
				"steps": 300
			},
			{
				"displayName": "Dilate Pixel",
				"name": "dilate_pixel",
				"hint": "Dilate Pixel of mask",
				"type": "checkBox",
				"value": "true"
			},
			{
				"displayName": "Invert Mask",
				"name": "invert_mask",
				"hint": "Inverts the mask",
				"type": "checkBox",
				"value": "false"
			}
		]
	},
    "script":
	{
		"info":
		{
			"version": "1.0.0",
			"template": "BasicScript",
			"description": "Simple analysis script to analyze single plants"
		},
		"options":
		[
			{
				"displayName": "Select Index for Analysis",
				"name": "index_selection",
				"hint": "Index is only calculated if 'Analyze Index' is selected",
				"type": "dropdown",
				"getValuesFor": "index_list",
				"value": "0"
			},
			{
				"displayName": "Convert pixel to mm",
				"name": "convert_pixel",
				"hint": "Converts pixel to mm if the lens-to-object distance is available in the meta data",
				"type": "checkBox",
				"value": "false"
			},
			{
				"displayName": "ROI Overlay",
				"name": "roi_overlay",
				"hint": "Create an ROI overlay in the preview images",
				"type": "checkBox",
				"value": "false"
			},
			{
				"displayName": "Line width",
				"name": "line_width",
				"hint": "Set the size of lines marking the plant shapes",
				"type": "slider",
				"value": "2",
				"minimum": "1",
				"maximum": "5",
				"steps": "5"
			}
		]
	}
}
