{
	"mask": 
	{
		"info":
		{
			"version": "1.0.0",
			"template": "MaskScript",
			"description": "Masking using single wavelength band"
		},
		"options":
		[
			{
				"displayName": "Wavelength",
				"name": "wavelength",
				"hint": "Select wavelength",
				"type": "wavelength",
				"value": "0"
			},
			{
				"displayName": "Threshold",
				"name": "wl_thresh",
				"hint": "Cutoff threshold for binary image",
				"type": "slider",
				"value": "0.5",
				"minimum": "0",
				"maximum": "1",
				"steps": 250
			},
			{
				"displayName": "Fill Speckles",
				"name": "fill_size",
				"hint": "Size of Speckles to be filled (in pixel)",
				"type": "slider",
				"value": "100",
				"minimum": "0",
				"maximum": "300",
				"steps": 300
			},
			{
				"displayName": "Dilate Pixel",
				"name": "dilate_pixel",
				"hint": "Dilate Pixel of mask",
				"type": "checkBox",
				"value": "true"
			}
		]
	},
    "script":
	{
		"info":
		{
			"version": "1.0.0",
			"template": "BasicScript",
			"description": "Simple analysis script to analyze single plants"
		},
		"options":
		[
			{
				"displayName": "Analyze Index",
				"name": "analyze_index",
				"hint": "Get average index value per plant",
				"type": "checkBox",
				"value": "true"
			},
			{
				"displayName": "Select Index",
				"name": "index_selection",
				"hint": "Index is only calculated if 'Analyze Index' is selected",
				"type": "dropdown",
				"getValuesFor": "index_list",
				"value": "0"
			},
			{
				"displayName": "Analyze Shape",
				"name": "analyze_shape",
				"hint": "Get shape parameters per plant",
				"type": "checkBox",
				"value": "true"
			},
			{
				"displayName": "Line width",
				"name": "line_width",
				"hint": "Set the size of lines marking the plant shapes",
				"type": "slider",
				"value": "2",
				"minimum": "1",
				"maximum": "5"
			}
		]
	},
	"chart":
	{
		"info":
		{
			"version": "1.0.0",
			"template": "ChartScript",
			"description": "Allows the selection of parameters to be displayed in the chart"
		},
		"options":
		[
			{
				"displayName": "Plot mode",
				"name": "plot_selection",
				"type": "dropdown",
				"displayNames": ["Plot Index Average", "Plot Leaf Area", "Plot Leaf Perimeter", "Plot Leaf Width", "Plot Leaf Height"],
				"names": ["plot_index", "area", "perimeter", "width", "height"],
				"value": "0"
			}
		]
	}
}
