{
	"mask": 
	{
		"info":
		{
			"version": "1.0.0",
			"template": "MaskScript",
			"description": "Masking using single wavelength band"
		},
		"options":
		{
		    "sections":
			[
				{
				   "displayName": "Mask",
				   "name": "mask",
				   "settings": 
				   [
					    {
							"displayName": "Wavelength",
							"name": "wavelength",
							"hint": "Select wavelength",
							"type": "wavelength",
							"value": "0"
   					    },
						{
							"displayName": "Wavelength Threshold",
							"name": "wl_thresh",
							"hint": "Cutoff threshold for binary image",
							"type": "slider",
							"value": "0.4",
							"minimum": "0",
							"maximum": "1",
							"steps": 250
						},
						{
							"displayName": "Fill Speckles",
							"name": "fill_wl",
							"hint": "Size of Speckles to be filled (in pixel)",
							"type": "slider",
							"value": "20",
							"minimum": "0",
							"maximum": "300",
							"steps": 300
						},
					   	{
							"displayName": "Dilate Pixel",
							"name": "dilate_pixel",
							"hint": "Dilate Pixel of mask",
							"type": "checkBox",
							"value": "true"
						},
					    {
							"displayName": "ARI (inverted) Threshold",
							"name": "ari_thresh",
							"hint": "Cutoff threshold for binary image",
							"type": "slider",
							"value": "-1",
							"minimum": "-10",
							"maximum": "10",
							"steps": 200
						},
					    {
							"displayName": "Fill Speckles",
							"name": "fill_ari",
							"hint": "Size of Speckles to be filled (in pixel)",
							"type": "slider",
							"value": "20",
							"minimum": "0",
							"maximum": "300",
							"steps": 300
						},
					    {
							"displayName": "Fill Speckles",
							"name": "fill_combined",
							"hint": "Size of Speckles to be filled (in pixel)",
							"type": "slider",
							"value": "10",
							"minimum": "0",
							"maximum": "300",
							"steps": 300
						},
					   	{
							"displayName": "Select which mask to display",
							"name": "show_mask",
							"hint": "Select Mask",
							"type": "dropdown",
							"getValuesFor": "mask_list"
						}
					]
				}
			]
		}
	},
    "script":
	{
		"info":
		{
			"version": "1.0.0",
			"template": "BasicScript",
			"description": "Simple analysis script to analyze single plants"
		},
		"options":
		{
		    "sections":
			[
				{
				   "displayName": "Visual Settings",
				   "name": "script",
					"settings":
					[
						{
							"displayName": "ROI Overlay",
							"name": "roi_overlay",
							"hint": "Create an ROI overlay in the preview images",
							"type": "checkBox",
							"value": "true"
						},
						{
							"displayName": "Mark detected objects",
							"name": "mark_objects",
							"hint": "",
							"type": "checkBox",
							"value": "true"
						},
						{
							"displayName": "Line width",
							"name": "line_width",
							"hint": "Set the size of lines marking the plant shapes",
							"type": "spinBox",
							"value": "2",
							"minimum": "1",
							"maximum": "5"
						},
						{
							"displayName": "Show mask",
							"name": "mask_out",
							"hint": "Prints the mask in the preview tabs",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "image"
						},
						{
							"displayName": "Label ROIs",
							"name": "label_roi",
							"hint": "Prints the mask in the preview tabs",
							"type": "checkBox",
							"value": "false",
							"chartOptionType": "image"
						},
						{
							"displayName": "Show zones (only in the Preview interface!)",
							"name": "show_zones",
							"hint": "Shows the center and buffer zone of each ROI in the Preview interface",
							"type": "checkBox",
							"value": "true"
						}
					]
				},
				{
				   "displayName": "Detection Thresholds",
				   "name": "thresholds",
				   "settings":
					[
						{
							"displayName": "ROI center",
							"name": "roi_center_ratio",
							"hint": "Inner radius (always circular!) that defines the ROI center region",
							"type": "slider",
							"value": "0.5",
							"minimum": "0",
							"maximum": "1",
							"steps": 10
						},
						{
							"displayName": "Buffer zone ratio",
							"name": "buffer_roi_ratio",
							"hint": "Inner radius (always circular!) that defines the ROI center region",
							"type": "slider",
							"value": "1.1",
							"minimum": "1",
							"maximum": "2",
							"steps": 10
						},
						{
							"displayName": "Threshold distance",
							"name": "threshold_distance",
							"hint": "Inner radius (always circular!) that defines the ROI center region",
							"type": "slider",
							"value": "30",
							"minimum": "0",
							"maximum": "200",
							"steps": 20
						}
					]
				}
			]
		}
	}
}
